
<launch>
  <node pkg="tf" type="static_transform_publisher" name="camera_to_base_footprint" args="0 0 0 0 0 0 t265_pose_frame base_footprint 100" />
  <node pkg="tf" type="static_transform_publisher" name="camera_odom_to_odom" args="0 0 0 0 0 0 t265_odom_frame odom 100" />
  <node pkg="map_server" name="map_server" type="map_server" args="$(find turtlebot3_navigation)/maps/map.yaml"/>
  <include file="$(find turtlebot3_navigation)/launch/move_base.launch"/>
</launch>